<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ryan.anymex">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    
    <!-- New permissions for downloading and installing APKs -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    
    <!-- For Android 13+ (API 33+) - Granular media permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    
    <!-- TV app permissions and features -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application android:label="AnymeX" 
        android:name="${applicationName}" 
        android:roundIcon="@mipmap/ic_rounded_launcher" 
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/tv_banner" 
        android:requestLegacyExternalStorage="true" 
        android:enableOnBackInvokedCallback="true">
        
        <activity android:name=".MainActivity" 
            android:exported="true" 
            android:launchMode="singleTop" 
            android:taskAffinity="" 
            android:theme="@style/LaunchTheme" 
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" 
            android:hardwareAccelerated="true" 
            android:windowSoftInputMode="adjustResize">

            <meta-data android:name="io.flutter.embedding.android.NormalTheme" 
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- Add LEANBACK_LAUNCHER for TV -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>

        <intent-filter android:label="Add Repo">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="anymex" android:host="add-repo" />
        </intent-filter>  

        <intent-filter android:label="Add Repo">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="dar" android:host="add-repo" />
        </intent-filter>  

        <intent-filter android:label="Add Repo">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="sugoireads" android:host="add-repo" />
        </intent-filter>  

        <intent-filter android:label="Add Repo">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="mangayomi" android:host="add-repo" />
        </intent-filter>  

        <intent-filter android:label="Add Repo">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="tachiyomi" android:host="add-repo" />
        </intent-filter>  

        <intent-filter android:label="Add Repo">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="aniyomi" android:host="add-repo" />
        </intent-filter>  
        
        </activity>

        <activity android:name="com.linusu.flutter_web_auth_2.CallbackActivity" 
            android:exported="true">
            <intent-filter android:label="Login">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="anymex" android:host="callback"/>
            </intent-filter>
        </activity>

        <!-- FileProvider for sharing downloaded APK files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data android:name="flutterEmbedding" android:value="2"/>
        <meta-data android:name="flutter_deeplinking_enabled" android:value="false" />
        <meta-data android:name="io.flutter.embedding.android.EnableImpeller" android:value="false"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="sms"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="tel"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <!-- Add package installer query -->
        <intent>
            <action android:name="android.intent.action.INSTALL_PACKAGE"/>
        </intent>
    </queries>
</manifest>